*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(159, 252, 252);
}

h1{
    padding: 2rem;
    font-size: 60px;
}

h2{
    padding: 5rem;
    font-size: 40px;
}

.game-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.counter-box{
    display: flex;
}

.number{
    padding: 2rem;
    font-size: 50px;
}

.hidden{
    display: none;
}

