*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(159, 252, 252);
}

.number {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
    font-size: 5rem;
    padding: 5rem;
}